# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
test/

# Ignore specific files
app.cpython-312.pyc

# Ignore other common files
*.log
*.joblib
*.env
*.DS_Store